html {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  -webkit-user-select: none; /* для веб-браузеров на базе WebKit, таких как Chrome и Safari */
  -moz-user-select: none; /* для браузеров Firefox */
  -ms-user-select: none; /* для Internet Explorer */
  user-select: none;
  font-family: "Montserrat", sans-serif;
  /* font: 14pt "Roboto", sans-serif; */
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
header {
  z-index: 1;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #41b3a3;
  /* font: 14pt "Roboto", sans-serif; */
  font-weight: 700;
  line-height: 1.8;
  text-decoration: none;
  text-transform: none;
  list-style: none;
}
main {
  overflow: hidden;
}

footer {
  margin-top: 8px;
}

.for_h {
  display: flex;
  color: #41b3a3;
  word-wrap: break-word;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.main-menu {
  width: 100%;
}

.main-menu__inner {
  display: flex;
  margin: 4px 10px;
  align-items: center;
  /* text-align: center; */
  justify-content: space-around;
}
.main-menu__inner a {
  color: white;
}

.marquee-infinite {
  margin: 30px auto;
  max-width: 100%;
  overflow: hidden;
}
.marquee-infinite img {
  width: 16vw;
  height: 29vmax;
}
@keyframes marquee-infinite {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.marquee-infinite div {
  display: flex;
  width: 200%;
  animation: marquee-infinite 50s linear infinite;
}
.marquee-infinite span {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/* ------------------------------- */

@keyframes checked-anim {
  50% {
    width: 3000px;
    height: 3000px;
  }
  100% {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
@keyframes not-checked-anim {
  0% {
    width: 3000px;
    height: 3000px;
  }
}
#menu li,
#menu a {
  margin: 75px 0 -55px 0;
  color: #41b3a3;
  outline: 0;
  display: none;
}

#menu li {
  width: 380px;
  text-indent: 56px;
}

#trigger,
#burger,
#burger:before,
#burger:after {
  position: absolute;
  top: 21px;
  left: 16px;
  background: #41b3a3;
  width: 30px;
  height: 5px;
  transition: 0.2s ease;
  cursor: pointer;
  z-index: 1;
}
#trigger {
  height: 25px;
  background: none;
}
#burger:before {
  content: " ";
  top: 10px;
  left: 0;
}
#burger:after {
  content: " ";
  top: 20px;
  left: 0;
}
#menu-toggle:checked + #trigger + #burger {
  top: 35px;
  transform: rotate(180deg);
  transition: transform 0.2s ease;
}
#menu-toggle:checked + #trigger + #burger:before {
  width: 20px;
  top: -2px;
  left: 18px;
  transform: rotate(45deg) translateX(-5px);
  transition: transform 0.2s ease;
}
#menu-toggle:checked + #trigger + #burger:after {
  width: 20px;
  top: 2px;
  left: 18px;
  transform: rotate(-45deg) translateX(-5px);
  transition: transform 0.2s ease;
}
#menu {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-bottom-right-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  transition: 0.2s;
  animation: not-checked-anim 0.2s both;
}

.animate {
  animation: not-checked-anim 0.2s both;
}

#menu-toggle:checked + #trigger + #burger + #menu {
  animation: checked-anim 1s ease both;
}
#menu-toggle:checked + #trigger ~ #menu > li,
#menu a {
  display: block;
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  display: none;
}
.burger-menu {
  display: none;
}
@media (max-width: 768px) {
  .main-menu {
    display: none;
  }
  .burger-menu {
    display: block;
  }

  .define_history {
    flex-wrap: wrap;
  }
  .with_none {
    display: none;
  }
  .marquee-infinite img {
    width: 19vw;
    height: 23vmax;
  }
  .seasons {
    flex-wrap: wrap;
  }
}
/*----------------------------*/

.main_wrapper_first_img {
  position: relative;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.9);
}
.wrapper_img_first_img {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes opac {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.text_first_img {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
}

.main_wrapper_first_img__big,
.main_wrapper_first_img__small {
  position: absolute;
  opacity: 0;
  /* margin-left: 20px; */

  word-wrap: break-word; /* Добавляем свойство для переноса слов */
  /* white-space: normal; */
}

.main_wrapper_first_img__big {
  top: 30%;
  font-size: 10vw;
  font-weight: 700;
}
.main_wrapper_first_img__big.animate-big {
  animation: opac 1s linear 0.3s forwards;
}
.main_wrapper_first_img__small {
  top: 80%;
  font-size: 5vw;
}
.main_wrapper_first_img__small.animate-small {
  animation: opac 1s linear 0.9s forwards;
}
.stadium_img {
  width: 2000px;
  height: 100vh;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Цвет затемнения (черный с прозрачностью) */
}

/* scrollbar */

/* Общие стили для полоски прокрутки */
::-webkit-scrollbar {
  width: 8px; /* Ширина полоски прокрутки */
}

/* Стили для трека (бара) полоски прокрутки */
::-webkit-scrollbar-track {
  background: white; /* Цвет фона трека */
}

/* Стили для ручки (драгера) полоски прокрутки */
::-webkit-scrollbar-thumb {
  background: #888; /* Цвет ручки прокрутки */
  border-radius: 6px; /* Скругление углов ручки */
}

/* Стили при наведении на полоску прокрутки */
::-webkit-scrollbar-thumb:hover {
  background: #41b3a3; /* Цвет ручки при наведении */
}

/* end of scrollbar */

/* -- content -- */
.define_history {
  display: flex;
  align-items: center;
  justify-content: center;
}

.history {
  margin: 0 10px;
}

.history_img {
  width: 60vw;
  border-radius: 20px;
  height: auto;
}

.with_margin {
  margin-top: 35px;
}

.hidden-text {
  min-height: 0;
  margin: 2px 12px;
  font-size: 25px;
  color: #2f8277;
  opacity: 0;
  animation: opac 0.6s linear forwards;
  /* color: #41b3a3; */
}

.collapse {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 200ms ease-in-out;
}
.collapse.open {
  grid-template-rows: 1fr;
}

.div_overlay_video img {
  transition: filter 0.3s ease;
}

.div_overlay_video:hover img {
  filter: brightness(70%);
}

.div_overlay_video:hover::after {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: end;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 18px;
  background: #e27c60c5;
  padding: 10px;
  border-radius: 5px;
}

.div_overlay_video_rev img {
  transition: filter 0.3s ease;
}

.div_overlay_video_rev:hover img {
  filter: brightness(70%);
}

.div_overlay_video_rev:hover::after {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: end;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 18px;
  background: #41b3a3c5;
  padding: 10px;
  border-radius: 5px;
}

.video-container {
  padding: 20px;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  background-color: #41b3a3;
  overflow: hidden;
}

video {
  padding: 10px 0;
  width: 60vw;
  height: 60vmin;
}

/*------*/
.styled-image {
  position: relative;
  width: 32vw;
  height: auto;
  border: 5px solid #e27c60;
  border-radius: 8px;
  /* margin: 10px; */
  transition: border-color 0.3s ease;
  transition: transform 0.3s ease-in-out;
}

.styled-image-rever {
  position: relative;
  width: 32vw;
  height: auto;
  border: 5px solid #41b3a3;
  border-radius: 8px;
  /* margin: 10px; */
  transition: border-color 0.3s ease;
  transition: transform 0.3s ease-in-out;
}
.overlay_video {
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background-color: rgba(0, 0, 0, 0.9);
}
.div_overlay_video {
  margin: 0 7px;
  padding: 0;
  display: flex;
  position: relative;
  display: inline-block;
}
.div_overlay_video_rev {
  margin: 0 7px;
  padding: 0;
  position: relative;
  display: flex;
  display: inline-block;
}
.div_overlay_text {
  font-size: 3vmin;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -10%);
  color: white;
  z-index: 2;
  display: none;
}

.div_overlay_video:hover .div_overlay_text {
  display: inline-block;
}
.div_overlay_video_rev:hover .div_overlay_text {
  display: inline-block;
}
@keyframes shad {
  100% {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.65);
  }
}
@keyframes shad_rev {
  0% {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.65);
  }
}
.my-video {
  max-width: 100%;
  margin-bottom: 15px;
  border: 2px solid #fff;
  border-radius: 8px;
  animation: shad_rev 0.3s ease-in-out forwards;
  /* Тень для эффекта поднятия */
  transition: transform 0.3s ease-in-out; /* Плавный переход при наведении */
}

.my-video:hover {
  animation: shad 0.3s ease-in-out forwards;
  transform: scale(1.03); /* Небольшое увеличение при наведении */
}

.revers {
  flex-direction: row-reverse;
  background-color: #e27d60;
}

.revers_m {
  flex-direction: row-reverse;
}
/* Стили при наведении на изображение с классом "styled-image" */

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #41b3a3;
  color: white;
}

.info__inner {
  margin: 10px 5px;
}
.info__inner a {
  color: white;
  font-size: 15px;
}
.first_li_info {
  margin-top: 10px;
}

.social-web {
  background-color: #41b3a3;
  display: flex;
  justify-content: center;
}

.social-link > img {
  background-color: transparent;
  border-radius: 5px;
  width: 4vmax;
  padding: 3px;
  margin: 0 7px;
}

.running_image {
  width: 200px;
  height: 350px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);
}

/*----------------------------*/

.text {
  margin: 10px;
  font-size: 20px;
}

.blue {
  padding: 2px;
  border: 1.3vmin solid blue;
}
.blue_text {
  color: blue;
}
.black {
  padding: 2px;
  border: 1.3vmin solid black;
}

.black_text {
  color: black;
}
.yellow {
  padding: 2px;
  border: 1.3vmin solid rgb(240, 240, 0);
}

.yellow_text {
  color: rgb(230, 230, 0);
}
.red {
  padding: 2px;
  border: 1.3vmin solid red;
}
.red_text {
  color: red;
}
.green {
  padding: 2px;
  border: 1.3vmin solid green;
}
.green_text {
  color: green;
}

.myDiv {
  width: 12vw;
  height: 12vw;
  cursor: pointer;
  background-color: transparent;
  margin: 2px;
  border-radius: 50%;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

/* .myDiv:hover {
  width: 22vw;
  height: 22vw;
  animation: shad 0.3s ease-in-out forwards;
}

.myDiv:hover .hidden-text-new {
  display: block;
  opacity: 1;
} */

.hidden-text-new {
  display: none;
  opacity: 0;
  animation: opac 0.6s linear forwards;
  padding: 5px;
  font-size: 3vmin;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.seasons {
  display: flex;
  /* flex-wrap: wrap; */
}
.season {
  text-align: justify;
}
.background_color {
  font-size: 28px;
  width: 100%;
  animation: back_color_rev 0.4s ease-in-out forwards;
}
.background_color:hover {
  animation: back_color 0.4s ease-in-out forwards;
}
.dark {
  color: #2f8277;
  margin-bottom: 7px;
}

@keyframes back_color {
  100% {
    background-color: #41b3a3;
    color: white;
    margin: 0 4vw;
    border-radius: 10px;
  }
}
@keyframes back_color_rev {
  0% {
    background-color: #41b3a3;
    color: white;
    margin: 0 4vw;
    border-radius: 10px;
  }
}

/* -------- */

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #41b3a3;
  z-index: 1000;
  transition: all 0.09s ease-out;
}
/* 
.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {
  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
} */

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
canvas {
  display: block;
}

#countdown {
  display: flex;
  color: #41b3a3;
  /* opacity: 0; */
  justify-content: center;
  align-items: center;
  font-size: 10vw;
  margin: 10px 5px;
}

.p_text {
  margin: 5px 7px;
  font-size: 20px;
  color: #2f8277;
}
.p_text_w {
  padding: 7px 9px;
  color: white;
  font-size: 20px;
}

.many_p {
  margin: 0 10px;
  background-color: #41b3a3;
  border-radius: 20px;
}
/* ============ */
#starter {
  background-color: white;
  color: white;
  text-align: center;
  display: inline-block;
  padding: 15px 40px;
  color: #41b3a3;
  border: 1px solid #2f8277;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  margin: 10px 20px;
}

#starter:before {
  content: "";
  position: absolute;
  height: 150px;
  width: 50px;
  background: #41b3a3;
  left: -55px;
  top: -40px;
  transform: rotate(37deg);
  transition: all 0.3s;
  opacity: 0.3;
}

#starter:hover:before {
  left: 95%;
}
.competitive {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#timer {
  font-size: 8vw;
  color: #41b3a3;
}

#click_button {
  background-color: white;
  color: white;
  /* font-size: 2vmin; */
  color: #41b3a3;
  border: 1px solid #2f8277;
  cursor: pointer;
  width: 120px;
  height: 120px;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  margin: 10px 20px;
}
#answer {
  color: white;
  color: #41b3a3;
  text-align: center;
  /* border: 1px solid #2f8277; */
  cursor: pointer;
  width: 80vw;
  /* height: 12vmin; */
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  margin: 10px 20px;
  border-radius: 10px;
  font-size: 30px;
}

#counter {
  color: #41b3a3;
  font-size: 5vw;
}

.active {
  border-radius: 10px;
  padding: 0 5px;
  background-color: white;
  pointer-events: none;
}
.active a {
  color: #41b3a3;
}
